/*Archery School StyleSheet */
* {
  box-sizing: border-box;
}
body {
  font-family: arial, sans-serif, "Times New Roman", serif;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto auto auto auto;
}
/* header section*/
header {
  grid-column: 1 / span 2;
  grid-row: 1;
  display: grid;
  background-color:  #03a3df;
  color: white;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;
}
header img {
  padding-top: 2em;
  padding-left: 2em;
  padding-bottom: 4em;
  grid-row: 1;
  grid-column: 1 / span 3;
}
header h1 {
  display: none; /*went with no-display because header looks less clutered. */
}
.address {
  padding: 1em;
  background-color: #1b447f;
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 1;
  font-size: 17px;
}
.email {
  padding: 1em;
  background-color: #1b447f;
  grid-row: 2;
  grid-column-start: 2;
  grid-column-end: 2;
  font-size: 17px;
}
.phone {
  color: white;
  padding: 1em;
  background-color: #1b447f;
  grid-row: 2;
  grid-column-start: 3;
  grid-column-end: 3;
  font-size: 17px;
}
/* nav section*/
.nav-bar {
  grid-row: 3;
  grid-column: 1 / span 3;
  background-color: #444444;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 3em;
  text-align: center;
  padding-top: 2em;
  font-weight: bold;
  text-decoration: underline;
  font-size: 17px;

}
.nav1 {
  text-decoration: none;
  color: white;
  transition: color;
}
.nav2 {
  text-decoration: none;
  color: white;
  transition: color;
}
.nav3 {
  text-decoration: none;
  color: white;
  transition: color;
}
.nav4 {
  text-decoration: none;
  color: white;
  transition: color;
}
.nav5 {
  text-decoration: none;
  color: white;
  transition: color;
}
.nav1:hover {
  color: #ecb722;
}
.nav2:hover {
  color: #ecb722;
}
.nav3:hover {
  color: #ecb722;
}
.nav4:hover {
  color: #ecb722;
}
.nav5:hover {
  color: #ecb722;
}
/*Header and Nav is shared across all pages */

/* Services Section */
.services {
  grid-column: 1;
  grid-row: 2 / span 2;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 40px auto auto auto auto;
}
.services h2 {
  display: none;
  grid-column: 1 / span 2;
  grid-row: 1;
  font-size: 24px;
  font-weight: bold;
  padding: 25px;
}

.services .description {
  grid-column: 1 / span 2;
  grid-row: 4;
  font-size: 17px;
  padding: 25px;
}
.services .classes {
  grid-column: 1;
  grid-row: 1 / span 3;
  background-color: #1b447f;
  color:white;
  padding: 20px;
  margin: 10px;
  border-radius: 25px;
  font-size: 17px;
}
.classes a {
  color: #ecb722;
  font-weight: bold;
}
.classes h3 {
  font-size: 17px;
  font-weight: bold;
  text-decoration: underline;
}
.services .private-lessons {
  grid-column: 2;
  grid-row: 1 / span 3;
  background-color: #ecb722;
  padding: 20px;
  margin: 10px;
  border-radius: 25px;
  font-size: 17px;
}
.private-lessons a {
  color: #1b447f;
  font-weight: bold;
}
.private-lessons h3 {
  font-size: 17px;
  font-weight: bold;
  text-decoration: underline;
}
/* Hours */
.hours {
  grid-column: 2;
  grid-row: 2;
  font-size: 17px;
  padding: 5px;
  margin: 5px;
}
.hours h2 {
  font-weight: bold;
  font-size: 24px;
}
/* facility */
.facility {
  grid-column: 2;
  grid-row: 3;
}
.facility h2 {
  font-weight: bold;
  font-size: 24px;
  padding: 5px;
  margin: 5px;
}
.facility img {
  width: 100%;
}
/*footer */
/*footer section is shared across all pages*/
footer {
  margin-top: 1em;
  padding: 2em;
  color: white;
  grid-column: 1 / span 2;
  grid-row: 4;
  background-image: url("../images/footerImage.jpg");
  background-size: 100%;
  background-color: #444444;
}
footer h2 {
  font-weight: bold;
  font-size: 24px;
  color: white;
}
.footer-nav-bar a {
  color: #ecb722;
}


/* Layout specific to Services Page */
/* Spaced out */
/* Spaced out */

.services-page {
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows:  auto auto auto auto auto;
}
.services-page h2 {
  display:none;
  grid-column: 1;
  grid-row: 1;
  font-size: 24px;
  font-weight: bold;
  padding: 25px;
}

.services-page .description {
  grid-column: 1 / span 2;
  grid-row: 4;
  font-size: 17px;
  padding: 25px;
}

/*classes offered, break down into smaller sections*/
.services-page .classes-page h2{
  grid-column: 1;
  grid-row: 1;
  font-size: 24px;
  font-weight: bold;
  padding: 25px;
  /*
  background-color: #1b447f;
  color:white;
  padding: 20px;
  margin: 10px;
  border-radius: 25px;
  font-size: 17px;
  */
}
.services-page .A101 {
  grid-column: 1;
  grid-row: 2;
  background-color: #1b447f;
  color:white;
  padding: 20px;
  margin: 10px;
  border-radius: 25px;
  font-size: 17px;
}
.services-page .A102 {
  grid-column: 1;
  grid-row: 3;
  background-color: #1b447f;
  color:white;
  padding: 20px;
  margin: 10px;
  border-radius: 25px;
  font-size: 17px;
}
.services-page .A103 {
  grid-column: 1;
  grid-row: 4;
  background-color: #1b447f;
  color:white;
  padding: 20px;
  margin: 10px;
  border-radius: 25px;
  font-size: 17px;
}
.classes-page a {
  color: #ecb722;
  font-weight: bold;
}
.classes-page h3 {
  font-size: 17px;
  font-weight: bold;
  text-decoration: underline;
}

/*private lessons, break down into smaller sections*/
.services-page .private-lessons-page h2{
  grid-column: 2;
  grid-row: 1;
  font-size: 24px;
  font-weight: bold;
  padding: 25px;
}

.services-page .single-lesson {
  grid-column: 2;
  grid-row: 2;
  background-color: #ecb722;
  padding: 20px;
  margin: 10px;
  border-radius: 25px;
  font-size: 17px;
}

.services-page .three-lesson-package {
  grid-column: 2;
  grid-row: 3;
  background-color: #ecb722;
  padding: 20px;
  margin: 10px;
  border-radius: 25px;
  font-size: 17px;
}

.services-page .ten-lesson-package {
  grid-column: 2;
  grid-row: 4;
  background-color: #ecb722;
  padding: 20px;
  margin: 10px;
  border-radius: 25px;
  font-size: 17px;
}
.private-lessons-page a {
  color: #1b447f;
  font-weight: bold;
}
.private-lessons-page h3 {
  font-size: 17px;
  font-weight: bold;
  text-decoration: underline;
}

/* video style */
/* video section */
.archery-video {
  padding: 10px;
  margin: 10px;
  font-size: 17px;
  font-weight: bold;
  grid-column: 1;
  grid-row: 5;
}
.archery-video-2 {
  padding: 10px;
  margin: 10px;
  font-size: 17px;
  font-weight: bold;
  grid-column: 2;
  grid-row: 5;
}
