* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif, "Times New Roman", serif, arial;
/* header section*/
}
header {
  display: grid;
  grid-row-gap: 4em;
  background-color:  #03a3df;
  color: white;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;
}
header img {
  grid-row: 1;
  grid-column: 1 / span 3;
}
header h1 {
  display: none; /*went with no-display because header looks less clutered. */
  text-align: center;
  font-size: 3.5em;
  grid-row: 2;
  grid-column: 1 / span 3;
}
.address {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 1;
}
.email {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 2;
}
.phone {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 3;
}
/* nav section*/
.nav-bar {
  background-color: #444444;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 3em;
  text-align: center;

}
.nav1 {
  text-decoration: none;
  color: white;
  transition: color;
}
.nav2 {
  text-decoration: none;
  color: white;
  transition: color;
}
.nav3 {
  text-decoration: none;
  color: white;
  transition: color;
}
.nav4 {
  text-decoration: none;
  color: white;
  transition: color;
}
.nav5 {
  text-decoration: none;
  color: white;
  transition: color;
}
.nav1:hover {
  color: #ecb722;
}
.nav2:hover {
  color: #ecb722;
}
.nav3:hover {
  color: #ecb722;
}
.nav4:hover {
  color: #ecb722;
}
.nav5:hover {
  color: #ecb722;
}
