* {
  box-sizing: border-box;
}
body {
  /*insert font using google/awesome font*/
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  font-family: 'Karla', sans-serif;
  background-color: rgb(0, 191, 255)
}
h1 {
  align-items: center;
  padding: 1em;
}
nav {
  background-color: rgb(191, 191, 191);
  padding: 2em;
  width: 100%;
  transition: background-color 4s 1s;
}
nav:hover {
  background-color: rgb(255, 255, 179);
}
.nav a{
  display: inline-block;
  font-weight: bold;
  text-align: center;
  border-style: outset;
  border-color: white;
  border-width: thick;
  color: black;
  padding: 0.4em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: rgb(0, 191, 255)
}
.nav a:hover {
  background-color: rgb(102, 217, 255);
}
 #nav-img img {
  display: none;
  border-style: solid;
  border-color: black;
  border-width: medium;
  width: 100px;
}  /* Took out nav bar img, does not enhance webpage styling.
 unsure if still needed for assignment grading.  */
.index-section {
  padding: 1em;
}
.assignment-previews {
  text-align: center;
  float:right;
  background-color: rgb(153, 230, 255);

}
#previews a {
  text-decoration: none;
  font-size: 1em;
  color: blue;
  transition: color 0.2s;
}
#previews img {
  border-style: solid;
  border-color: black;
  border-width: medium;
  width: 100px;
  transition: width 0.5s;
  transition-timing-function: ease;
}
#previews a:hover {
  color: orange;
}
#previews img:hover {
  width: 150px;
}
.index-footer {
  padding: 1em;
}
  /* img {
      display: flex;
      justify-content: space-between;
      border-style: solid;
      border-color: black;
      border-width: medium;
      width: 10%;
    } */


/*This section is for Sectioning-elements.html */
.sectioning-cat {
      border-style: solid;
      border-color: black;
      border-width: medium;
      margin: 1em;
      width: 15%;
}
.sectioning-ele-section {
  padding: 1em;
}
.sectioning-ele-footer {
  padding: 1em;
}

/*This section is for cat-images/media webpage*/
.media-section {
  padding: 1em;
}
.media-pics img {
  border-style: solid;
  border-color: black;
  border-width: medium;
  width: 20%;
}
/*This section is for about-me page*/
.about-me-section {
  padding: 1em;
}
.about-me-section img {
  border-style: solid;
  border-color: black;
  border-width: medium;
  margin: 1em;
  width: 25%;
}

/*assignment 1/ semantic elements page*/
.semantic-ele-section {
  padding: 1em;
}
.semantic-ele-section img {
  border-style: solid;
  border-color: black;
  border-width: medium;
  margin: 1em;
  width: 50%;
}
.semantic-ele-footer {
  padding: 1em;
}
/*transitioning for article "assignment-previews"*/
